* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
}

/* p {
    color: red;
    text-transform: capitalize;
} */
h1{
    color: #31F014;
    margin-right: 100;
    margin-left: 100;
    text-transform: uppercase;
}

/* change the paragragh so its blue */

p {
    color: blue;
    font-size: 14;
}

h4, h4 > em {
    background-color: coral;
    padding: 10;
}

/* link */
h5 {
    color: blueviolet;
}

/* visted link */
a {
    color: #189e03;
    stroke: 1;
}

/* hovered link */
a:hover {
    color: #22ff00;
}


/* class selector */
.coolText {
    color: aqua;
}

/* id selector */
#heading1 {
    text-align: center;
    color: red;
}

/* 
TO DO LIST 
1. link
2. Visited link
3. Link when hovered
4. class selectors
5. ID selectors 
6. Lab 12 part 3 preperation stuff
*/